table{
    border-collapse: collapse;
    background:  #000000;
  }
  td{
    box-sizing: border-box;
    text-align: center;
    width:15px;
    height: 15px;
    border: 1px dotted rgba(0,0,0,.2);
    transition: background-color .6s;
    will-change: background-color;
  }
  td:hover{
    background: red;
  }
  .game-controls > *{
    margin-bottom: 1rem;
  }
  label{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .subtitle {
    font-style: italic;
    font-size: 0.8rem;
  }
  .game__slider--speed{
    direction: rtl;
  }
  .game__cell--alive{
    background: #faa900;
  }
  button{
    background: transparent;
    border: 1px solid #003355;
    padding:10px 0;
    font-size: 1rem;
    cursor: pointer;
  }
  button:hover{
    background: #003355;
    color: white;
  }
  .game {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: max-content minmax(500px, auto);
    grid-auto-rows: auto;
  }
  .game-controls {
    display: flex;
    flex-direction: column;
  }